
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:"Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
        background-image: url("https://github.com/Bhavana01234/clips/blob/main/Background%202.jpeg?raw=true");
    background-size: cover;
    color: white;
    font-weight: bolder;
}

h1 {
    color: white;
    text-align: center;
    position: absolute;
	top:0%;
	left:41%;
	font-family:"Montserrat", sans-serif;
}


form {
    background-color: rgba(0, 0, 0, 0); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px; 
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-family:"Montserrat", sans-serif;
    font-size:20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0); 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color:white;
    font-family:"Montserrat", sans-serif;
    font-size:20px;
    font-weight: bolder;
}

input[type="radio"] {
    margin-right: 5px;
    
}

input[type="submit"] {
    background-color: #5bc0de; 
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-family:"Montserrat", sans-serif;
    font-size:20px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0077B6;
}

textarea {
    resize: vertical; 
}
input[type="text"]:focus,input[type="email"]:focus , input[type="password"]:focus, textarea:focus {
    backdrop-filter: blur(5px);  
}