<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TuneHub</title>
<link rel="stylesheet" th:href="@{/css/adminStyle.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="icon" href="https://github.com/Bhavana01234/clips/blob/main/Icon.png?raw=true">
</head>
<body>
<h1>Admin Home</h1>
<a href="newSong" class="ns">Add a New Song</a>
<br>
<a href="viewSongs" class="vs">View All songs</a>
<br>
<a href="createPlaylist" class="cp">Create PlayList</a>
<br>
<a href="viewPlaylists" class="vp">View All PlayLists</a>
<br>
<a href="removeSongs" class="rs">Delete Songs</a>

</body>
</html>