<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TuneHub</title>
<link rel="stylesheet" th:href="@{/css/homeStyle.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="icon" href="https://github.com/Bhavana01234/clips/blob/main/Icon.png?raw=true">
</head>
<body>
<h2>Home Page</h2>
<h1>Welcome to TuneHub</h1>
<br>
<a href="login">LOGIN</a>
</body>
</html>