<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>TuneHub</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=cursive">
<link rel="icon" href="https://github.com/Bhavana01234/clips/blob/main/Icon.png?raw=true">
</head>
<body>
<h1> &#9835 TuneHub &#9835</h1>
<h5>&#9834 Unlock the Soundtrack of Your Life.&#9834</h5>
<a href="login" class="btn">LOGIN</a>
<a href="registration" class="btn1">REGISTER</a>

</body>
</html>