<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TuneHub</title>
<link rel="stylesheet" th:href="@{/css/loginStyle.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="icon" href="https://github.com/Bhavana01234/clips/blob/main/Icon.png?raw=true">
</head>
<body>
<h1>User Login</h1>
	<form action="validate" method="post">
		<label>Email : </label>
		<input type="email" name="email" required="required"/>
		<br>
		<label>Password : </label>
		<input type="password" name="password" required="required"/>
		<br>
		<input type="submit" value="LOGIN"/>
	</form>
</body>
</html>